.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.tmp/
build/
dist/
.DS_Store
coverage/
pubspec.lock
*.class
*.jar
!apps/flutter_app/android/gradle/wrapper/gradle-wrapper.jar
*.pyc
__pycache__/
target/
bin/
packaging/windows/Product.generated.wxs
