name: object-data-browser
arch: {{ARCH}}
platform: linux
version: {{VERSION}}
section: utils
priority: optional
maintainer: Object Data Browser
description: Cross-platform object data browser with pluggable backend engines
homepage: https://github.com/sndstone/object-data-browser
license: Proprietary
overrides:
  deb:
    depends:
      - libc6 (>= 2.31)
      - libgtk-3-0
      - libsecret-1-0
      - libstdc++6
  rpm:
    depends:
      - glibc >= 2.31
      - gtk3
      - libsecret
      - libstdc++
contents:
  - src: {{ROOT}}/usr/lib/object-data-browser/
    dst: /usr/lib/object-data-browser
  - src: {{ROOT}}/usr/bin/object-data-browser
    dst: /usr/bin/object-data-browser
