name: object-data-browser
arch: {{ARCH}}
platform: linux
version: 2.1.0
section: utils
priority: optional
maintainer: Object Data Browser
description: Cross-platform object data browser with pluggable backend engines
homepage: https://example.invalid/object-data-browser
license: Proprietary
contents:
  - src: {{ROOT}}/usr/lib/object-data-browser/
    dst: /usr/lib/object-data-browser
  - src: {{ROOT}}/usr/bin/object-data-browser
    dst: /usr/bin/object-data-browser
